<h1><%= @name %></h1>
<div class="img"><%= image_tag("self.jpg", :alt => "what", :size => '300x300') %></div>
<p>
    <div class="from">From: <%= @from %></div>
    <div class="year">Year: <%= @year %></div>
    <div class="funfact"><b><%= @funfact %></b></div>
    <div class="excited"><u><%= @excited %></u></div>
</p>